.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}
.container .item{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.container .item .icon:hover{
  transition: 0.3s;
  color: #0055de;
  transform: scale(2);
}
.container .item .name{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}